*{
    padding: 0;
    margin: 0;
}


.banner{
    height: 80vh;
    background-image: url(/images/banner.webp);
    background-repeat: no-repeat;
    background-size: cover;
}

.col{
    text-align: center;
    color: white;
    padding-top:150px;
}
.icon i{
    font-size: 35px;
}

.booking-area{
    background-color:whitesmoke;
    margin-top: -3rem;
    padding: 3.125rem 1.875rem;
    z-index: 2;
}

.rooms-wrapper .room-items{
             position: relative;
             overflow: hidden;

}

.rooms-wrapper .room-items img{
    width: 80%;
    transition: all 400ms ease-in 0s;
    box-shadow:  0 0 2px black;
}

.rooms-wrapper .room-items:hover img{
    
    transform: scale(1.3);
    z-index: 1;
}


.rooms-wrapper .row{
    margin-top: -60px;
}

.rooms-wrapper .room-items::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--bg-black);
    opacity: 0;
    z-index: 1;
    transition: all 400ms ease-in 0s;
}

.rooms-wrapper .room-items:hover::before{
    opacity: 0.6;

}


.rooms-wrapper .room-item-wrap{
    position: absolute;
    left: 1.875rem;
    right: 1.875rem;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

.rooms-wrapper .room-items .room-content{
    border: 2px solid white;
    padding: 35px ;
    transform: scale3d(1.2, 1.2, 1.2);
    transition: all 500ms ease-in 0s;
    opacity: 0;

}


.rooms-wrapper .room-items:hover .room-content{
    opacity: 1;
    transform: scale3d(1,1,1);
}


.counter{
    background-image:url(/images/reception.avif);
    background-size: cover;
   
    position: relative;
    padding: 3.125rem;
}

.counter::before{
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 100%;
    opacity: 0.5;
    z-index: 1;
}
.counter h1{
    color: white;
}
.counter p{
    z-index: 3;
    color: white;
}

.team-wrapper .card{
    position: relative;
    overflow: hidden;
}

.team-wrapper .team-info{
    background-color:whitesmoke;
    position: absolute;
    width: 100%;
    bottom: 0;
    text-align: center;
    padding: 1.25rem;
    margin-bottom: -4.6875rem;
    transition: all 0.3s ease-in-out;
}

.team-wrapper .card:hover .team-info{
    margin-bottom: 0;

}

.team-wrapper .team-info .social-network{
    transition: all 0.3s ease-in-out;
    padding: 1.25rem;
    margin: 1.25rem -1.25rem -1.25rem;
    background-color: var(--primary-color);
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.team-wrapper .team-info .social-network li a{
    width: 3rem;
    height: 2rem;
    display: block;
    font-size: 25px;
    color: royalblue;  
}



.gallery-wrapper .gallery-item{
    box-shadow: 0 0 10px 1px rgb(0, 0, 1);
    transition: 1s;
}

.gallery-wrapper .gallery-item img{
     border-radius: 1px;
}

.gallery-wrapper .gallery-item:hover{
    transform: scale(1.2);
    z-index: 1;
}


.price-wrapper .card{
    box-shadow: 0 0 5px 1px rgb(0, 0, 1);
    transition:all 0.3s ease-in-out;
    cursor: pointer;
}

.price-wrapper .card:hover{
    background-color: rgba(222, 135, 135, 0.696);
}

.price-wrapper .card:hover h5{ color: white;}
.price-wrapper .card:hover h3{color: white;}
.price-wrapper .card:hover p{color: white;}



.blog-wrapper .blog-content{
    margin: -5rem 0 0 4.375rem;
    box-shadow: 0 0 5px 1px rgb(0, 0, 1);
}


